body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  z-index: 9;
  background-color: white;
  width: 100%;
}

.nav-link {
  text-decoration: none;
  color: #0b0b0b;
}

header {
  margin: 2rem 10px;
  padding: 10rem 5rem 10rem 10px;
  text-align: center;
  background-color: #f9ecdc;
  color: #000;
}

.sec-2 {
  margin: auto;
  padding: 2rem 4rem 0 3rem;
}

.image {
  padding-left: 7rem;
}

.sec-3 {
  margin: 6rem 15px 10rem 10px;
  padding: 4rem 10px 0 10px;
  background-color: #fcfcfc;
}

.footer {
  margin-top: 30px;
  margin-right: 10px;
  padding-left: 70px;
  padding-right: 10px;
  padding-top: 35px;
  padding-bottom: 20px;
  background-color: #0b0b0b;
  color: white;
  text-align: center;
}

.sec-6 {
  margin-top: 30px;
  margin-right: 10px;
  padding-left: 70px;
  padding-right: 10px;
  padding-top: 35px;
  background-color: white;
  text-align: center;
}
.sec-7 {
  margin-top: 30px;
  margin-right: 10px;
  padding-left: 70px;
  padding-right: 10px;
  padding-top: 35px;
  padding-bottom: 20px;
  background-color: #07321b;
  color: white;
  text-align: center;
}
